<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board.css">
    <script src="/js/board.js" defer></script>
    <title>질문게시판</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <% if(!data.session) {%>
                <li><a href="/login">나의 단어장</a></li>
            <%}else{%>
                <li><a href="/myword/page/1">나의 단어장</a></li>
            <%}%>
            <li><a href="/repeat">복습하기</a></li>
            <li><a href="/quiz">오늘의 퀴즈</a></li>
        </ul>
        <% if(!data.session) {%>
        <ul class="navbar_link">
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
            <li><i class="fab fa-google"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
        <%}else{%>
        <ul class="navbar_logout">
            <li id="nick"><%=data.session.nick%>님</li>
            <li><a href="/logout">로그아웃</a></li>
        </ul>
        <%}%>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <div id="title">
        <a href="/board/page/1"><label>질 문 게 시 판</label></a>
    </div>
    <div class="board">
        <table border="1" id="table">
            <thead>
                <tr>
                    <th id="number">번호</th>
                    <th id="postTitle">제목</th>
                    <th id="postAuthor">작성자</th>
                    <th id="postDate">작성일자</th>
                </tr>
            </thead>
            <tbody>
                <%let count = (data.pageNumber - 1)*10 + 1%>
                <% for(let i = (data.pageNumber - 1)* 10; i< data.postCount; i++){ %> 
                    <tr>
                        <td class="number"><%=i+1%></td>
                        <td class="title"><a href="/board/<%=data.post[i].id%>"><%=data.post[i].title%></a></td>
                        <td class="author"><%=data.post[i].author%></td>
                        <td class="createText"><%=data.post[i].createText%></td>
                    </tr>
                    <%count+=1%>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="collectBtn">
        <%if(data.session){%>
            <a href="/addpost"><input type="button" value="글작성"></a>
        <%}else{%>
            <a href="/login"><input type="button" value="글작성"></a>
        <%}%>
    </div>
    <div id="countingPage">
        <input type="hidden" name="" id="postCount" value="<%=data.totalPost%>">
        <span id="firstPage"></span>
        <span id="leftBtnSpace"></span>
        <span id="countingPageNumber"></span>
        <span id="rightBtnSpace"></span>
        <span id="lastPage"></span>
    </div>
    <div id="search">
        <select name="" id="auORti">
            <option value="au" selected>작성자</option>
            <option value="ti">제목</option>
        </select>
        <input type="text" name="" id="searchText">
        <input type="button" value="검색" id="searchBtn">
    </div>
</body>
</html>