<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">홈</a>
    <div class="board">
        <table border="1">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                <% post.forEach(function(i){ %> 
                    <tr>
                        <td><%=i.dataValues.id%></td>
                        <td><a href="/board/<%=i.dataValues.id%>"><%=i.dataValues.title%></a></td>
                        <td><%=i.dataValues.author%></td>
                        <td><%=i.dataValues.createText%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/addpost"><input type="button" value="글작성"></a>
    </div>
</body>
</html>