<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 단어</title>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b359215d2f.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <% if(!data.session) {%>
                <li><a href="/login">나의 단어장</a></li>
            <%}else{%>
                <li><a href="/myword">나의 단어장</a></li>
            <%}%>
            <li><a href="/repeat">복습하기</a></li>
            <li>오늘의 단어</li>
        </ul>
        <% if(!data.session) {%>
        <ul class="navbar_link">
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
            <li><i class="fab fa-google"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
        <%}else{%>
        <ul class="navbar_logout">
            <li><a href="/logout">로그아웃</a></li>
        </ul>
        <%}%>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <section class="main_page">
        <div class="translate">
            <h2>네이버 번역기</h3>
            <span>
                <textarea name="" id="toTranslateText" cols="30" rows="10" placeholder="번역할 내용을 입력하세요"></textarea>
            </span>
            <span>
                <input type="button" id="translateBtn" value="번역하기">
                <input type="button" id="langSelect"value="한국어">
            </span>
            <span>
                <textarea name="" id="translatedText" cols="30" rows="10" readonly></textarea>
            </span>
        </div>
        <div class="todayandboard">
            <div class="main_board">
                <h3>질문게시판</h3>
                <div><a href="/board">더보기</a></div>
                <table border="1">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let count = 1 %>
                        <%data.post.forEach(function(i){%>
                            <tr>
                                <td><%=count%></td>
                                <% if(!data.session) {%>
                                    <td><a href="/login"><%=i.dataValues.title%></a></td>
                                    <td><%= i.dataValues.author%></td>
                                <%}else{%>
                                    <td><a href="/board/<%=i.dataValues.id%>"><%=i.dataValues.title%></a></td>
                                    <td><%= i.dataValues.author%></td>
                                <%}%>
                            </tr>
                            <% count += 1 %>
                        <%})%>
                    </tbody>
                </table>

            </div>
            <div class="todayEng">
                <h3>자주 나오는 단어</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th>단어</th>
                            <th>뜻</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="spelling">
                            </td>
                            <td id="meaning">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
    <footer>
        제작자 : 이주혁
    </footer>

</body>
</html>