<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 단어</title>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b359215d2f.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <% if(!data.session) {%>
                <li><a href="/login">나의 단어장</a></li>
            <%}else{%>
                <li><a href="/myword">나의 단어장</a></li>
            <%}%>
            <li><a href="/repeat">복습하기</a></li>
            <li>오늘의 단어</li>
        </ul>
        <% if(!data.session) {%>
        <ul class="navbar_link">
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
            <li><i class="fab fa-google"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
        <%}else{%>
        <ul class="navbar_logout">
            <li><a href="/logout">로그아웃</a></li>
        </ul>
        <%}%>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <section class="main_page">
        <div class="translate">네이버 번역기</div>
        <div class="todayandboard">
            <div class="main_board">
                <h3>질문게시판</h3>
                <div><a href="/board">더보기</a></div>
                <ul>
                    <%data.post.forEach(function(i){%>
                        <% if(!data.session) {%>
                            <li><a href="/login"><%=i.dataValues.title%></a></li>
                        <%}else{%>
                            <li><a href="/board/<%=i.dataValues.id%>"><%=i.dataValues.title%></a></li>
                        <%}%>
                    <%})%>
                </ul>
            </div>
            <div class="todayEng">
                <table border="1">
                    <thead>
                        <tr>
                            <th>단어</th>
                            <th>뜻</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <%let count = 0;%>
                        <%setInterval(()=>{%>
                            <%console.log(data.words[count].dataValues.spelling)%>
                            <%console.log(data.words[count].dataValues.meaning)%>
                            <td><%= data.words[count].dataValues.spelling %></a></td>
                            <td><%= data.words[count].dataValues.meaning %></td>
                            <%count += 1%>
                            <%if(count === data.words.length){%>
                                <%count = 0;%>
                            <%}%>
                        <%},5000)%>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </section>
    <footer>
        제작자 : 이주혁
    </footer>
</body>
</html>