<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 단어</title>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b359215d2f.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" defer></script>
</head>
<body>

    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <% if(!data.session) {%>
                <li><a href="/login">나의 단어장</a></li>
            <%}else{%>
                <li><a href="/myword/page/1">나의 단어장</a></li>
            <%}%>
            <li><a href="/repeat">복습하기</a></li>
            <li><a href="/quiz">오늘의 퀴즈</a></li>
        </ul>
        <% if(!data.session) {%>
        <ul class="navbar_link">
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
        </ul>
        <%}else{%>
        <ul class="navbar_logout">
            <li id="nick"><%=data.session.nick%>님</li>
            <li><a href="/setting"><i id ="setting"class="fas fa-cog"></a></i></li>
            <li><a href="/logout">로그아웃</a></li>
        </ul>
        <%}%>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <section class="main_page">
        <div class="translate">
            <h1>번역기</h1>
            <div>
                <textarea name="" id="toTranslateText" cols="50" rows="10" placeholder="번역할 내용을 입력하세요" style="resize: none;" required></textarea>
                <div class="btn">
                    <input type="button" id="translateBtn" value="번역하기">
                    <input type="button" id="langSelect"value="한국어">
                </div>
                <textarea name="" id="translatedText" cols="50" rows="10" style="resize: none;" readonly></textarea>
            </div>
        </div>
        <div class="todayandboard">
            <div class="main_board">
                <h2>질문게시판</h2>
                <div><a href="/board/page/1">더보기</a></div>
                <table border="1">
                    <thead>
                        <tr>
                            <th id="postId">번호</th>
                            <th id="postTitle">제목</th>
                            <th id="postAuthor">작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let count = 1 %>
                        <% let postLength = data.post.length - 14;%>
                        <% if(data.post.length < 14){ %>
                            <% postLength = 0 %>
                        <%}%>
                        <%for(let i = data.post.length-1; i >= postLength; i--){%>
                            <tr>
                                <td class="count"><%=count%></td>
                                <td class="title"><a href="/board/<%=data.post[i].id%>"><%=data.post[i].title%></a></td>
                                <td class="author"><%= data.post[i].author%></td>
                            </tr>
                            <% count += 1 %>
                        <%}%>
                    </tbody>
                </table>

            </div>
            <div class="todayEng">
                <h3>자주 나오는 단어</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th id="wordSpelling">단어</th>
                            <th id="wordMeaning">뜻</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="spelling">
                            </td>
                            <td id="meaning">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
    <footer>
        <label>제작자 : 이주혁</label>
    </footer>

</body>
</html>