<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b359215d2f.js" crossorigin="anonymous"></script>
    <script src="/js/myword.js" defer></script>
    <link rel="stylesheet" href="/css/myword.css">
    <title>나의 단어장</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="/myword/page/1">나의 단어장</a></li>
            <li><a href="/repeat">복습하기</a></li>
            <li><a href="/quiz">오늘의 퀴즈</a></li>
        </ul>
        <ul class="navbar_logout">
            <li><a href="/myword/log/out">로그아웃</a></li>
        </ul>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <section id="mainPage">
        <div class="wordTable">
            <table border="1" id="table">
                <thead>
                    <tr>
                        <th id="tableNumber">번호</th>
                        <th id="tableSpelling">단어</th>
                        <th id="tableMeaning">뜻</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i = 0; i< words.number.length;i++){%>
                        <tr>
                            <td class="number"><%=words.number[i]%></td>
                            <td class="spelling"><a href="/myword/<%=words.id[i]%>"><%=words.spelling[i] %></a></td>
                            <td class="meaning"><%=words.meaning[i] %></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div id="memoPosition">
            <textarea name="" id="memo" placeholder="메모장 입니다"></textarea>
        </div>
    </section>
    <footer>
        <div id="addBtn">
            <a href="/addword"><input type="button" value="추가"></a>
        </div>
        <div id="countingPage">
            <input type="hidden" name="pageNumber" id="wordCount" value="<%=totalWordsCount%>">
            <span id="firstPage"></span>
            <span id="leftBtnSpace"></span>
            <span id="countingPageNumber"></span>
            <span id="rightBtnSpace"></span>
            <span id="lastPage"></span>
        </div>
        <div id="search">
            <select name="" id="koORen">
                <option value="ko" selected>한국어</option>
                <option value="en">영어</option>
            </select>
            <input type="text" name="" id="searchText">
            <input type="button" value="검색" id="searchBtn">
        </div>
    </footer>
</body>
</html>