<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/post.css">
    <script src="/js/post.js" defer></script>
    <title>게시글 <%= data.post.dataValues.title%></title>
</head>
<body>
    <div id="title"><a href="/"><label>오늘의 단어</label></a></div>
    <div id="postContent">
        <table border="1">
            <tbody>
                <tr>
                    <th>제목</th>
                </tr>
                <tr>
                    <td><%= data.post.dataValues.title%></td>
                </tr>
                <tr>
                    <th>작성자</th>
                </tr>
                <tr>
                    <td><%= data.post.dataValues.author%></td>
                </tr>
                <tr>
                    <th>내용</th>
                </tr>
                <tr>
                    <td id="postText"><%= data.post.dataValues.text%></td>
                </tr>
            </tbody>
        </table>
        <div id="updateOrDelete">
            <%if(data.post.dataValues.userId === data.session.dataValues.id){%>
                <input type="button" value="수정" id="postUpdateBtn">
                <form action="/board/<%=data.post.dataValues.id%>?_method=delete" method="post">
                    <input type="submit" value="삭제">
                </form>
            <%}%>
        </div>
        <div id="postUpdateForm">
            <input type="text" id="postUpdatetitle" name="title" placeholder="제목을 입력하세요"autocomplete="off" value="<%=data.post.title%>"/>
            <textarea name="text" id="postUpdateText" cols="100" rows="20" placeholder="내용을 입력하세요"><%=data.post.text%></textarea>
            <input type="submit" id ="postEditBtn" value="수정">
        </div> 
    </div>

    <div>
        <%if(data.comment.length !== 0){%>
            <div>
                <div id="commentTitle">
                    <label>댓글 <%=data.comment.length%>개</label>
                </div>
                <div id="commentContent">
                    <table border="1">
                        <thead>
                            <tr>
                                <th id="commentAuthor">작성자</th>
                                <th id="comment">댓글</th>
                                <th id="updateText">수정</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < data.comment.length; i++){ %>
                                <tr>
                                    <td><%= data.comment[i].dataValues.nick %></td>
                                    <td><%= data.comment[i].dataValues.text %></td>
                                    <%if(data.comment[i].dataValues.loginId === data.session.dataValues.loginId){%>
                                        <td>
                                            <input type="button" class="updateBtn" value="수정하기"></input>
                                            <div class="updateForm">
                                                <div>
                                                    <textarea name="text" class="text" cols="30" rows="10"><%= data.comment[i].dataValues.text %></textarea>
                                                    <input type="hidden" class="commentId" value = "<%= data.comment[i].dataValues.id%>">
                                                    <input type="submit" class="commentBtn"value="수정">
                                                </div>
                                                <div>
                                                    <form action="/board/<%= data.post.id%>/deleteComment?_method=delete" method="post">
                                                        <input type="submit" value="삭제하기">
                                                        <input type="hidden" name="commentId" value = "<%= data.comment[i].dataValues.id%>">
                                                        <input type="hidden" name="postId" value = "<%= data.post.dataValues.id%>">
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    <%}else{%>
                                        <td style="text-align: center;">-</td>
                                    <%}%>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        <%}%>
    </div>
    <div>
        <textarea name="commentText" id="commentText"rows="10" placeholder="댓글을 입력하세요"></textarea>
        <div id="commentRegister">
            <input type="submit" id="commentTextBtn" value="등록">
        </div>
    </div>

</body>
</html>