<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/worddetail.css">
    <title>세부내용</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-edit"></i>
            <a href="/">오늘의 단어</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="/myword/page/1">나의 단어장</a></li>
            <li><a href="/repeat">복습하기</a></li>
            <li><a href="/quiz">오늘의 퀴즈</a></li>
        </ul>
        <ul class="navbar_logout">
            <li><a href="/myword/log/out">로그아웃</a></li>
        </ul>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <div id="mainTitle">
        <label id="title">단어 내용</label>
    </div>
    <section id="main">
        <p id="spelling"><label><%= word.updateSpelling%></label></p>
        <p id="meaning"><label><%= word.updateMeaning%></label></p>
        <div id="updateORdelete">
            <a href="/myword/<%=word.wordId%>/edit"><input type="button" value="수정"></a>
            <form action="/myword/<%=word.wordId%>?_method=delete" method="post">
                <input type="submit" value="삭제">
            </form>
        </div>
    </section>
    <section id="similarWord">
        <h1><label>유사 어휘</label></h1>
        <table border="1">
            <thead>
                <tr>
                    <th class="number">번호</th>
                    <th class="spelling">단어</th>
                    <th class="meaning">뜻</th>
                </tr>
            </thead>
            <tbody>
                <%if(similarWords.length < 1){%>
                    <tr>
                        <td colspan="3">등록된 단어가 없습니다</td>
                    </tr>
                <%}else{%>
                    <%let count = 1;%>
                    <%for(let i = 0; i< similarWords.length; i++){%>
                        <%if((similarWords[i].spelling !== word.updateSpelling) && (similarWords[i].meaning !== word.updateMeaning)){%>
                            <tr>
                                <td class="number"><%= count%></td>
                                <td class="spelling"><%= similarWords[i].dataValues.spelling%></td>
                                <td class="meaning"><%= similarWords[i].dataValues.meaning%></td>
                            </tr>
                            <%count += 1%>
                        <%}%>
                    <%}%>
                <%}%>
            </tbody>
        </table>
    </section>
    <section id="similarCategory">
        <h1><label>같은 카테고리 언어</label></h1>
        <table border="1">
            <thead>
                <tr>
                    <th class="number">번호</th>
                    <th class="spelling">단어</th>
                    <th class="meaning">뜻</th>
                </tr>
            </thead>
            <tbody>
                <%if(similarCategory.length === 1){%>
                    <tr>
                        <td colspan="3">등록된 단어가 없습니다</td>
                    </tr>
                <%}else{%>
                    <%let count = 0%>
                    <%for(let i = 0; i< similarCategory.length; i++){%>
                        <%if(!(similarCategory[i].updateSpelling === word.updateSpelling && similarCategory[i].updateMeaning === word.updateMeaning)){%>
                            <%count += 1%>
                            <tr>
                                <td class="number"><%= count%></td>
                                <td class="spelling"><%= similarCategory[i].updateSpelling%></td>
                                <td class="meaning"><%= similarCategory[i].updateMeaning%></td>
                            </tr>
                        <%}%>
                    <%}%>
                <%}%>
            </tbody>
        </table>
    </section>
</body>
</html>